$text-primary: #2d2d2d;
$text-secondary: #687588;
$text-white: #f6f6f6;
$text-green: #09b239;

$green-background: #013936;
$green-button: #448f4e;
$green-hover: #00756e;

$blue: #2b71fb;
$light-blue: #05acff;
$blue-hover: #ebf1ff;

$background: #f4f6f6;

$white: #fff;
