$text-primary: #2d2d2d;
$text-secondary: #687588;
$text-bread: #7a7a7a;
$text-white: #f6f6f6;
$text-green: #09b239;
$text-blue: #0980b2;
$text-yellow: #b28509;
$text-red: #ff6060;

$green-background: #013936;
$green-foreground: #c3ffd4;
$green-button: #448f4e;
$green-hover: #00756e;

$yellow-background: #fffbc3;

$blue: #2b71fb;
$light-blue: #05acff;
$blue-hover: #ebf1ff;
$blue-foreground: #c3f7ff;
$blue-useful: #b8cfff;

$grey-background: #d9d9d9;
$grey-foreground: #4a5564;

$background: #f4f6f6;

$white: #fff;

$input-border: #cbd5e1;
