.btn {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;

  background-color: $blue;
  color: $text-white;

  font-size: 20px;
  font-weight: 600;

  padding: 10px 16px;

  border-radius: 8px;

  transition: background-color 0.23s linear;

  &:hover {
    background-color: $light-blue;
  }
}

@media (max-width: 768px) {
    .btn {
        font-size: 16px;
    }
}
