.route {
  display: flex;
  flex-direction: column;
  gap: 24px;

  box-shadow: 0px 3px 8px 0px #0000001a;

  background-color: $white;
  border-radius: 8px;
  padding: 24px;
}

.paths {
  display: flex;
  justify-content: space-between;

  gap: 64px;
}

.path {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex: 1;
}

.title {
  font-size: 32px;
  font-weight: 400;
}

.title_strong {
  font-weight: 600;
}

.address_list {
  display: flex;
  justify-content: space-between;
}

.address {
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 24px;
  font-weight: 400;
  color: $text-secondary;
}

.point {
  font-size: 20px;
  font-weight: 600;
}

.map {
  display: flex;
  gap: 8px;
  align-items: center;
}

.map_title {
  font-size: 24px;
  line-height: 20px;
  font-weight: 600;
  color: $blue;
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: text-decoration-color 0.23s ease;

  cursor: pointer;

  &:hover {
    text-decoration-color: $blue;
  }
}

@media (max-width: 1120px) {
  .title {
    font-size: 24px;
  }

  .label {
    font-size: 20px;
  }

  .point {
    font-size: 16px;
  }
}

@media (max-width: 900px) {
  .address_list {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 20px;
  }
  .map_title {
    font-size: 16px;
  }

  .paths {
    gap: 40px;
  }

  .map_icon {
    width: 16px;
    height: 16px;
  }
}

@media (max-width: 520px) {
  .title {
    font-size: 16px;
  }

  .label {
    font-size: 16px;
  }

  .point {
    font-size: 14px;
  }

  .paths {
    gap: 16px;
  }

  .map_title {
    font-size: 12px;
  }

  .route {
    padding: 16px;
  }
}